// Font
$font-stack-body: Verdana, sans-serif;
$font-stack-code: "Menlo", "Consolas", monospace;
$font-stack-header: "Trebuchet MS", Helvetica, Arial, sans-serif;

// color
$fg: rgb(0, 0, 0);
$bg: rgb(255, 255, 255);
$border: rgb(238, 238, 238);
$link: rgb(0, 102, 187);

// Ratio
$golden-ratio: 1.618;
$silver-ratio: 2.414;
$bronze-ratio: 3.303;
$yamato-ratio: 1.414;

// Line Height
$default-line-height: $golden-ratio;
$heading-line-height: 1.25;

// Margin
$default-margin: em($default-line-height);
$heading-margin: ($default-margin * 2);
$primary-heading-margin: ($heading-margin * 2);
