{{ partial "header.html" . }}

<h1>{{ .Site.Title }}</h1>

<div id="homepage">
  <section id="about-me">
    <h2>About me</h2>
    
    <div class="avatar">
      
    </div>

    <div class="body">
      <p>Software engineer lives in Kamakura, Japan.</p>

      <h3>Jobs</h3>
      
      <dl>
        <dt>2004-2013</dt>
        <dd>Software engineer at KAYAC Inc.</dd>
        
        <dt>2013-present</dt>
        <dd>CEO, Software engineer at Make It Real Inc.</dd>

        <dt>2014-present</dt>
        <dd>Technical adviser at Wellstyle Corp.</dd>

        <dt>2014-2015</dt>
        <dd>Technical adviser at iichi Inc.</dd>
      </dl>

    </div>
  </section>
</div>

{{ partial "footer.html" . }}
