@import "../node_modules/bulma/bulma";

.navbar-brand {
    .navbar-item {
        #logo {
            background-color: black;
            color: white;
            font-weight: bold;
            padding: 4px 14px;
        }

        @include until($desktop) {
            padding-left: 0;
        }
    }
}

a {
    color: $black;
    border-bottom: 3px solid #b4e7f8;
    box-shadow: inset 0 -4px 0 #b4e7f8;
}

a:hover {
    background-color: #b4e7f8;
}


#aboutme {
    margin: 3em 0;

    h1 {
        margin-bottom: 1em;
    }

    #avatar img {
        border-radius: 100px;
    }
    #avatar-container {
        margin-left: 0;
    }

    #links {
        margin: 2em 0;

        #links-mobile {
            a {
                margin-right: .5em;
                line-height: 2.8em;
                color: $black;
            }
        }
    }
}

#archiveindex {
    padding-top: 20px;

    .year {
        margin-bottom: 40px;

        .column {
            padding-bottom: 0;
        }
    }

    .archivelist {
        @include from($tablet) {
            margin-top: 20px;
        }

        .archive {
            margin-bottom: 20px;

            .archive-date {
                width: 40px;
                margin-top: 6px;
            }

            .archive-title {
                padding-left: 0;
            }
        }
    }
}
