$pagination-margin: 2rem 0;
$pagination-color: black;
$pagination-current-color: black;
$pagination-current-background-color: transparent;
$pagination-current-border-color: transparent;


@import "../node_modules/bulma/bulma";

@import "code";

@mixin rounded($radius: 10px) {
    -moz-border-radius-bottomleft: $radius;
    -moz-border-radius-bottomright: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-topright: $radius;
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    -webkit-border-bottom-right-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
}

.navbar-brand {
    .navbar-item {
        #logo {
            background-color: black;
            color: white;
            font-weight: bold;
            padding: 4px 14px;
        }

        @include until($desktop) {
            padding-left: 0;
        }

        a {
            color: gray;
            border-bottom: none;
            box-shadow: none;
            font-weight: bold;
            &:hover {
                background-color: none;
            }
        }
    }
}

a {
    color: $black;
    border-bottom: 3px solid #b4e7f8;
    box-shadow: inset 0 -4px 0 #b4e7f8;
    &:hover {
        background-color: #b4e7f8;
    }
}

#aboutme {
    margin: 3em 0;

    h1 {
        margin-bottom: 1em;
    }

    #avatar img {
        border-radius: 100px;
    }
    #avatar-container {
        margin-left: 0;
    }

    #links {
        margin: 2em 0;

        #links-mobile {
            a {
                margin-right: .5em;
                line-height: 2.8em;
                color: $black;
            }
        }
    }
}

#archiveindex {
    padding-top: 20px;

    .year {
        margin-bottom: 40px;

        .column {
            padding-bottom: 0;
        }
    }

    .archivelist {
        @include from($tablet) {
            margin-top: 20px;
        }

        .archive {
            margin-bottom: 20px;

            .archive-date {
                width: 44px;
                margin-top: 6px;
            }

            .archive-title {
                padding-left: 0;
            }
        }
    }
}

@mixin contentbase() {
    @include from($tablet) {
        font-size: 1.1rem;
    }

    h2, h3, h4 {
        padding-top: 2rem;
        font-weight: normal;
        border-bottom: 1px solid #eee;
        line-height: 1.25;
    }

    .footref {
        font-size: 0.9rem;
    }

    .footdef {
        font-size: 0.9rem;
        margin-top: 6rem;
        padding-top: 1rem;
        border-top: 1px solid #eee;
    }

    @include codecolor();

    pre {
        padding: 0;
        background-color: transparent;

        > code {
            display: block;
            font-family: $code-family;
            background-color: #222;
            color: #fff;
            padding: 10px;
            @include rounded(10px);
            overflow: auto;
        }
    }
}

article.archive {
    h1 {
        font-size: 2rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .content {
        @include contentbase();
    }
}

#blogindex {
    article {
        padding: 2rem 0;
        &:first-child {
            padding-top: 0;
        }
    }
}

article.blog {
    h1 {
        font-size: 1.8rem;
        padding-top: 3rem;
        border-bottom: 1px solid #eee;
        margin-bottom: 1.8rem;
    }

    .content {
        @include contentbase();
    }

    .meta {
        font-size: 0.9rem;
        border-top: 1px solid #eee;
        margin: 0.5rem 0;
        padding: 0.5rem 0;

        a {
            color: white;
            background-color: black;
            padding: 0.2rem 0.8rem;
            border-bottom: none;
            box-shadow: none;
            @include rounded(0.2rem);
        }

    }
}
